<div
  appKeyboardManager
  role="radiogroup"
  [attr.aria-labelledby]="id"
  class="button-group"
>
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button
    appKeyboardManagedItem
    (focused)="activate(option.YES)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.tabindex]="value === option.YES || value === null ? 0 : -1"
    [attr.aria-checked]="value === option.YES"
    type="button"
    class="button button-yes"
    [class.button-pressed]="value === option.YES"
    (click)="activate(option.YES)"
  >
    YES
  </button>
  <button
    appKeyboardManagedItem
    (focused)="activate(option.NO)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.tabindex]="value === option.NO ? 0 : 1"
    [attr.aria-checked]="value === option.NO"
    type="button"
    class="button button-no"
    [class.button-pressed]="value === option.NO"
    (click)="activate(option.NO)"
  >
    NO
  </button>
</div>

<hr>

<div
  role="radiogroup"
  [attr.aria-label]="label"
  class="button-group"
  >
  <label>{{ label }}</label>
  <div class="radio">
    <input
      [attr.id]="id + '-yes'"
      type="radio"
      [attr.name]="id"
      [attr.checked]="value === option.YES"
      (change)="activate(option.YES)"
    />
    <label
      [attr.for]="id + '-yes'"
      class="button button-yes">
      YES
    </label>
  </div>
  <div class="radio">
    <input
      [attr.id]="id + '-no'"
      type="radio"
      [attr.name]="id"
      [attr.checked]="value === option.NO"
      (change)="activate(option.NO)"
    />
    <label
      [attr.for]="id + '-no'"
      class="button button-no">
      NO
    </label>
  </div>
</div>
